@import '_reset';
@import 'variables';
@import 'animate';

body {
	font-family: $font;
}


// Common Classes
	.transition {
		transition-property: all;
		transition-duration: $time-short;
	}
	.fw {
		width: 100%;
	}

// Sidebar
	#sidebar {
		background: $primary-color;
		position: fixed;
		left:0;
		top:0;
		width:25%;
		height:100%;

		#logo {
			@extend .fw;
			padding: 0 30px;
			height: 50%;
			display: table;
			.inner {
				display: table-cell;
				vertical-align: middle;
			}
		}

		#menu {
			ul {
				li {
					a {
						@extend .transition;
						display: block;
						padding: 15px 30px;
						text-align: center;
						color: $secondary-color;
						border-top: 1px solid $primary-color-lighter;
						&:hover {
							background: $primary-color-lighter;
							color: $tertiary-color-2;
						}
					}
					&:last-child {
						a {
							border-bottom: 1px solid $primary-color-lighter;
						}
					}
				}
			}
		}

		#copyright {
			position: absolute;
		    bottom: 0;
		    width: 100%;
		    font-size: 12px;
		    color: $secondary-color;
		    box-shadow: -4px -4px 9px 0 #191919;
		    padding: 15px 30px;
		}
	}


// Main Content
	#main-content {
		position:relative;
		left: 25%;
		width: 75%;
		#intro {
			position: relative;
			#handwriting {
				position: absolute;
				top: 30px;
				path {
					fill: none;
					stroke: #fff;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-miterlimit: 10;
					animation-fill-mode: forwards; 
					animation-iteration-count: 1;
					animation-timing-function: linear;
				}
				@for $i from 1 through $path-count {
					#path#{$i} {
						animation-name: path#{$i};
						@if ($i > 1) {
							$delay: 0;
							@for $j from 1 through ($i - 1) {
								$delay : $delay + map-get($path-time, $j);
							}
							animation-delay: ($delay - map-get($delay-fix, $i)) +s;
						}
						animation-duration: map-get($path-time,$i)+s;
						stroke-dasharray: map-get($path-length,$i);
	  					stroke-dashoffset: map-get($path-length,$i);
					}
				}
			}
		}
	}
	