/* Coolors Exported Palette - coolors.co/111111-333333-ffffff-ea4f4f-b79a9a */


/* RGB */

$primary-color: #222;
$primary-color-lighter: #333;
$secondary-color: #fff;
$tertiary-color: #ea4f4f;
$tertiary-color-2: #b79a9a;

// Fonts
@font-face {
    font-family: "Lato Light";
    src: url('../fonts/lato-light.ttf');
}

$font: 'Lato Light';

// Transition
$time-short: 0.25s;
$time-medium: $time-short*2;
$time-long: $time-short*4;

// Paths count & length
$path-count: 4;

// Original lengths: 505,165,336,367 
$path-length: ( 
	1: 505,
	2: 165,
	3: 336,
	4: 368
);

$path-time: ( 
	1: 1.5,
	2: 0.75,
	3: 2,
	4: 0.35,
);

$delay-fix: (
	1: 0,
	2: 0.55,
	3: 0.55,
	4: 1.85,
);
