/* Coolors Exported Palette - coolors.co/111111-333333-ffffff-ea4f4f-b79a9a */
/* RGB */
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato-light.ttf"); }

/*# sourceMappingURL=variables.css.map */
