// Columns clearfix

.row.auto-clear > .col-xs-3:nth-child(4n+1) {
	clear:left;
}
.row.auto-clear > .col-xs-4:nth-child(3n+1){
	clear:left;
}
.row.auto-clear > .col-xs-6:nth-child(2n+1){
	clear:left;
}
@media (min-width:480px){
	.row.auto-clear > .col-sm-3 {
		&:nth-child(4n+1){
			clear:left;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-sm-4 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:left;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-sm-6 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:left;
		}
	}
}

@media (min-width:768px){
	.row.auto-clear > .col-md-3 {
		&:nth-child(4n+1){
			clear:left;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-md-4 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:left;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-md-6 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:left;
		}
	}
}

@media (min-width:992px){
	.row.auto-clear > .col-lg-3 {
		&:nth-child(4n+1){
			clear:left;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-lg-4 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:left;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-lg-6 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:left;
		}
	}
}
@media (min-width:1200px){
	.row.auto-clear > .col-xl-3 {
		&:nth-child(4n+1){
			clear:left;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-xl-4 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:left;
		}
		&:nth-child(2n+1){
			clear:none;
		}
	}
	.row.auto-clear > .col-xl-6 {
		&:nth-child(4n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:none;
		}
		&:nth-child(2n+1){
			clear:left;
		}
	}
}