/* Coolors Exported Palette - coolors.co/111111-333333-ffffff-ea4f4f-b79a9a */

/* Font sizes */
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 32px;

/* RGB */

$black: #222;
$dark: #333;
$white: #fff;
$red: #ea4f4f;
$red-lighter: #b79a9a;
$grey: #666;

// Fonts
@font-face {
    font-family: "Lato Light";
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
    	url('../fonts/lato-light-webfont.woff') format('woff');
}
@font-face {
    font-family: "Lato";
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
    	url('../fonts/lato-regular-webfont.woff') format('woff');
}

$font-light: 'Lato Light';
$font: 'Lato';

// Transition
$time-short: 0.25s;
$time-medium: $time-short*2;
$time-long: $time-short*4;