@import 'reset';
@import 'variables';
@import 'gutter';
@import 'colfix';
body {
	font-family: $font-light;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

button {
	border:none;
}

// Common Classes
	.transition {
		transition-property: all;
		transition-duration: $time-short;
	}
	.fw {
		width: 100%;
	}
	.bg-red {
		background: $red;
	}
	.bg-grey {
		background: $grey;
	}
	.bg-dark {
		background: $dark;
	}
	.color-white {
		color: $white;
	}
	.title-group {
		font-size: $font-xl;
		color: $white;
		text-align: center;
		padding: 50px;
	}
	.zoom-image {
		position: relative;
    	overflow: hidden;
	}
	.d-ib {
		display: inline-block;
	}
// Sidebar
	#sidebar {
		background: $black;
		position: fixed;
		left:0;
		top:0;
		width:25%;
		height:100%;

		#logo {
			@extend .fw;
			padding: 0 30px;
			height: 50%;
			display: table;
			.inner {
				display: table-cell;
				vertical-align: middle;
			}
		}

		#menu {
			font-size: $font-md;
			ul {
				li {
					a {
						@extend .transition;
						display: block;
						padding: 15px 30px;
						text-align: center;
						color: $grey + #555;
						display: block;
    					
						&:hover {
							background: $dark;
							color: $red-lighter;
						}
					}
					&:nth-child(odd) {
						a {
							box-shadow: -4px 0px 2px 0px #151515;
						}
					}
				}
			}
		}

		#copyright {
			position: absolute;
		    bottom: 0;
		    width: 100%;
		    font-size: 12px;
		    color: $grey + #555;
		    box-shadow: -4px -4px 9px 0 #191919;
		    padding: 15px 30px;
		}
	}


// Main Content
	#main-content {
		position:relative;
		left: 25%;
		width: 75%;
		background: #fafafa;
		.product-wrapper {
			font-family: $font;
			padding: 30px 65px;
			text-align: center;
			.product {
			    margin-bottom: 30px;
				background: $white;
				border: 1px solid #ccc;
				box-shadow: 0px 3px 7px -1px $grey;
				.content {
					padding: 15px 20px;
					color: $grey;
					.name {
						@extend .transition;
						font-size: $font-lg;
						padding-bottom:10px;
						&:hover {
							color: $black;
						}
					}
					.price {
						font-weight: 700;
						font-size: $font-md;
						color: $red;
						padding-bottom:10px;
					}
					.description {
						line-height: 18px;
					}
				}
				.add-to-cart {
					border: none;
					background: $dark;
					border-radius: 0;
					color: $white;
					padding: 0;
					margin-bottom: 30px;
					&:hover {
						background: $dark - #111111;
						span {
							background: $grey + #111111;
						}
					}
					i.fa {
						@extend .transition;
						float:left;
						padding: 6px 6px;
					}
					span {
						@extend .transition;
						float:left;
						height: 100%;
						padding: 7px 12px 6px;
						font-size: 13px;
						background: $grey;
					}
				}
			}
			.view-all {
				@extend .transition;
				font-family: $font-light;
				background: $red-lighter;
				padding: 12px 45px;
				color: $white;
				&:hover {
					background: $red-lighter - #222222;
				}
			}
			.product-nav {
				text-align: right;
				li {
					padding-left: 7.5px;
					text-align: center;
					.btn {
						@extend .bg-grey, .transition;
						border-radius: 2px;
						&:hover {
							background: $red-lighter;
							color: $white;
						}
						&:active {
							background: $red;
						}
					}
				}
			}
		}
		#intro {
			position: relative;
			.slide {
				.title,.description {
					top: 10%;
					position: absolute;
					left:0;
					right:0;
					margin: auto;
					text-align: center;
					color: $white;
					font-size: 45px;
				}
				.description {
					top: auto;
					bottom: 5%;
					font-size: $font-lg;
					max-width: 570px;
					padding: 0 15px;
					line-height: 24px;
				}
			}
		}
		#single-product {
			font-family: $font;
			padding: 35px 50px;
			.related-images {
				margin-top: 15px;
				img {
					margin-bottom: 10px; 
					width:100%;
					cursor: pointer;
				}
				img.active {
					border: 3px solid $grey;
				}
			}
			.back {
				@extend .bg-dark,.transition;
				display: inline-block;
				color: $white;
				padding: 15px 20px;
				margin-top: 25px;
				border-radius: 2px;
				.fa {
					padding-right: 7px;
				}
				&:hover {
					background: $dark + #111;
				}
			}
			.product-info {
				.product-name {
					color: $dark;
					font-size: $font-xl - 2px;
					line-height: $font-xl;
					padding-bottom: 5px;
				}
				.price {
					color: $red;
					font-size: $font-lg + 4px;
					font-weight: bold;
				}
				.add-to-cart {
					@extend .transition;
					padding: 8px 10px 7px;
				    margin-top: 15px;
				    background: $red;
				    color: #fff;
				    border-radius: 1px;
				    min-width: 120px;
				    text-align: center;
				    &:hover {
				    	background: $red - #111;
				    }
				}
				.short-description {
					padding: 12px 0;
					font-size: $font-lg;
					line-height: $font-lg + 6px;
				}
				.specifiments {
					font-size: $font-sm;
					line-height: $font-sm + 6px;
					strong, b {
						font-size: $font-md;
					}
					p {
						margin-bottom: 10px;
					}
					.title {
						font-size: $font-lg;
						font-weight: bold;
						padding-bottom: 10px;
						display: block;
					}
				}
			}
		}
	}
	