/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit; }

a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

/* Coolors Exported Palette - coolors.co/111111-333333-ffffff-ea4f4f-b79a9a */
/* Font sizes */
/* RGB */
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff"); }
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"); }
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px; }

.gutter-20 > [class^="col-"], .gutter-15 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px; }

.gutter-15.row {
  margin-right: -7.5px;
  margin-left: -7.5px; }

.gutter-15 > [class^="col-"], .gutter-15 > [class^=" col-"] {
  padding-right: 7.5px;
  padding-left: 7.5px; }

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px; }

.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px; }

.gutter-0.row {
  margin-right: 0;
  margin-left: 0; }

.gutter-0 > [class^="col-"], .gutter-15 > [class^=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.row.auto-clear > .col-xs-3:nth-child(4n+1) {
  clear: left; }

.row.auto-clear > .col-xs-4:nth-child(3n+1) {
  clear: left; }

.row.auto-clear > .col-xs-6:nth-child(2n+1) {
  clear: left; }

@media (min-width: 480px) {
  .row.auto-clear > .col-sm-3:nth-child(4n+1) {
    clear: left; }
  .row.auto-clear > .col-sm-3:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-sm-3:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-sm-4:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-sm-4:nth-child(3n+1) {
    clear: left; }
  .row.auto-clear > .col-sm-4:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-sm-6:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-sm-6:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-sm-6:nth-child(2n+1) {
    clear: left; } }
@media (min-width: 768px) {
  .row.auto-clear > .col-md-3:nth-child(4n+1) {
    clear: left; }
  .row.auto-clear > .col-md-3:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-md-3:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-md-4:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-md-4:nth-child(3n+1) {
    clear: left; }
  .row.auto-clear > .col-md-4:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-md-6:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-md-6:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-md-6:nth-child(2n+1) {
    clear: left; } }
@media (min-width: 992px) {
  .row.auto-clear > .col-lg-3:nth-child(4n+1) {
    clear: left; }
  .row.auto-clear > .col-lg-3:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-lg-3:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-lg-4:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-lg-4:nth-child(3n+1) {
    clear: left; }
  .row.auto-clear > .col-lg-4:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-lg-6:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-lg-6:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-lg-6:nth-child(2n+1) {
    clear: left; } }
@media (min-width: 1200px) {
  .row.auto-clear > .col-xl-3:nth-child(4n+1) {
    clear: left; }
  .row.auto-clear > .col-xl-3:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-xl-3:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-xl-4:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-xl-4:nth-child(3n+1) {
    clear: left; }
  .row.auto-clear > .col-xl-4:nth-child(2n+1) {
    clear: none; }

  .row.auto-clear > .col-xl-6:nth-child(4n+1) {
    clear: none; }
  .row.auto-clear > .col-xl-6:nth-child(3n+1) {
    clear: none; }
  .row.auto-clear > .col-xl-6:nth-child(2n+1) {
    clear: left; } }
body {
  font-family: "Lato Light";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

button {
  border: none; }

.transition, #sidebar #menu ul li a, #main-content .product-wrapper .product .content .name, #main-content .product-wrapper .product .add-to-cart i.fa, #main-content .product-wrapper .product .add-to-cart span, #main-content .product-wrapper .view-all, #main-content .product-wrapper .product-nav li .btn, #main-content #single-product .back, #main-content #single-product .product-info .add-to-cart {
  transition-property: all;
  transition-duration: 0.25s; }

.fw, #sidebar #logo {
  width: 100%; }

.bg-red {
  background: #ea4f4f; }

.bg-grey, #main-content .product-wrapper .product-nav li .btn {
  background: #666; }

.bg-dark, #main-content #single-product .back {
  background: #333; }

.color-white {
  color: #fff; }

.title-group {
  font-size: 32px;
  color: #fff;
  text-align: center;
  padding: 50px; }

.zoom-image {
  position: relative;
  overflow: hidden; }

.d-ib {
  display: inline-block; }

#sidebar {
  background: #222;
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%; }
  #sidebar #logo {
    padding: 0 30px;
    height: 50%;
    display: table; }
    #sidebar #logo .inner {
      display: table-cell;
      vertical-align: middle; }
  #sidebar #menu {
    font-size: 16px; }
    #sidebar #menu ul li a {
      display: block;
      padding: 15px 30px;
      text-align: center;
      color: #bbbbbb;
      display: block; }
      #sidebar #menu ul li a:hover {
        background: #333;
        color: #b79a9a; }
    #sidebar #menu ul li:nth-child(odd) a {
      box-shadow: -4px 0px 2px 0px #151515; }
  #sidebar #copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #bbbbbb;
    box-shadow: -4px -4px 9px 0 #191919;
    padding: 15px 30px; }

#main-content {
  position: relative;
  left: 25%;
  width: 75%;
  background: #fafafa; }
  #main-content .product-wrapper {
    font-family: "Lato";
    padding: 30px 65px;
    text-align: center; }
    #main-content .product-wrapper .product {
      margin-bottom: 30px;
      background: #fff;
      border: 1px solid #ccc;
      box-shadow: 0px 3px 7px -1px #666; }
      #main-content .product-wrapper .product .content {
        padding: 15px 20px;
        color: #666; }
        #main-content .product-wrapper .product .content .name {
          font-size: 18px;
          padding-bottom: 10px; }
          #main-content .product-wrapper .product .content .name:hover {
            color: #222; }
        #main-content .product-wrapper .product .content .price {
          font-weight: 700;
          font-size: 16px;
          color: #ea4f4f;
          padding-bottom: 10px; }
        #main-content .product-wrapper .product .content .description {
          line-height: 18px; }
      #main-content .product-wrapper .product .add-to-cart {
        border: none;
        background: #333;
        border-radius: 0;
        color: #fff;
        padding: 0;
        margin-bottom: 30px; }
        #main-content .product-wrapper .product .add-to-cart:hover {
          background: #222222; }
          #main-content .product-wrapper .product .add-to-cart:hover span {
            background: #777777; }
        #main-content .product-wrapper .product .add-to-cart i.fa {
          float: left;
          padding: 6px 6px; }
        #main-content .product-wrapper .product .add-to-cart span {
          float: left;
          height: 100%;
          padding: 7px 12px 6px;
          font-size: 13px;
          background: #666; }
    #main-content .product-wrapper .view-all {
      font-family: "Lato Light";
      background: #b79a9a;
      padding: 12px 45px;
      color: #fff; }
      #main-content .product-wrapper .view-all:hover {
        background: #957878; }
    #main-content .product-wrapper .product-nav {
      text-align: right; }
      #main-content .product-wrapper .product-nav li {
        padding-left: 7.5px;
        text-align: center; }
        #main-content .product-wrapper .product-nav li .btn {
          border-radius: 2px; }
          #main-content .product-wrapper .product-nav li .btn:hover {
            background: #b79a9a;
            color: #fff; }
          #main-content .product-wrapper .product-nav li .btn:active {
            background: #ea4f4f; }
  #main-content #intro {
    position: relative; }
    #main-content #intro .slide .title, #main-content #intro .slide .description {
      top: 10%;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      color: #fff;
      font-size: 45px; }
    #main-content #intro .slide .description {
      top: auto;
      bottom: 5%;
      font-size: 18px;
      max-width: 570px;
      padding: 0 15px;
      line-height: 24px; }
  #main-content #single-product {
    font-family: "Lato";
    padding: 35px 50px; }
    #main-content #single-product .related-images {
      margin-top: 15px; }
      #main-content #single-product .related-images img {
        margin-bottom: 10px;
        width: 100%;
        cursor: pointer; }
      #main-content #single-product .related-images img.active {
        border: 3px solid #666; }
    #main-content #single-product .back {
      display: inline-block;
      color: #fff;
      padding: 15px 20px;
      margin-top: 25px;
      border-radius: 2px; }
      #main-content #single-product .back .fa {
        padding-right: 7px; }
      #main-content #single-product .back:hover {
        background: #444444; }
    #main-content #single-product .product-info .product-name {
      color: #333;
      font-size: 30px;
      line-height: 32px;
      padding-bottom: 5px; }
    #main-content #single-product .product-info .price {
      color: #ea4f4f;
      font-size: 22px;
      font-weight: bold; }
    #main-content #single-product .product-info .add-to-cart {
      padding: 8px 10px 7px;
      margin-top: 15px;
      background: #ea4f4f;
      color: #fff;
      border-radius: 1px;
      min-width: 120px;
      text-align: center; }
      #main-content #single-product .product-info .add-to-cart:hover {
        background: #d93e3e; }
    #main-content #single-product .product-info .short-description {
      padding: 12px 0;
      font-size: 18px;
      line-height: 24px; }
    #main-content #single-product .product-info .specifiments {
      font-size: 14px;
      line-height: 20px; }
      #main-content #single-product .product-info .specifiments strong, #main-content #single-product .product-info .specifiments b {
        font-size: 16px; }
      #main-content #single-product .product-info .specifiments p {
        margin-bottom: 10px; }
      #main-content #single-product .product-info .specifiments .title {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 10px;
        display: block; }

/*# sourceMappingURL=styles.css.map */
