/**
 * RESET CSS
 */
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
    padding-left: 0;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


/**
 * MISC
 */
  .btn.color-inverse:hover,
  .btn.color-inverse:focus {
      color: #fff;
  }

/**
 * TAGS
 */

  .tags {
      margin: 10px 0 0 0
  }

  .tags .tag .remove {
      cursor: pointer;
  }


/**
 * POSTS PAGE
 */

  .action-container {
      margin-top: 25px;
  }

  .action-container .title-box {
      padding: 10px 15px;
      border: 1px solid #aaa;
      border-bottom-width: 0;
      border-radius: 5px 5px 0 0;
      background: #1ABB9C;
      z-index: 99999;
  }

  .action-container .title-box .title {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: #fafafa;
  }

  .action-container .action-box {
      padding: 20px 10px 12px;
      border: 1px solid #ccc;
      background: #fff;
      color: #666;
  }

  .action-container .action-box .fa:before {
      font-size: 15px;
      padding-right: 5px;
  }

  .action-container .action-box .info {
      position: relative;
      font-size: 12px;
      text-align: left;
      padding: 0px 5px 8px;
  }

  .action-container .action-box .info strong {
      font-size: 1.05em;
      color: #666;
  }

  .action-container .action-box .info p {
      line-height: 1;
      margin-bottom: 15px;
  }


  .action-container .action-box .title {
      margin-top: 15px;
      font-size: 16px;
      font-weight: bold;
  }

  .action-container .action-box .btn {
      margin: 0;
  }

  .action-container .action-box .actions {
      padding: 12px 0 0;
      border-top: 1px dashed #bbb;
  }

  .action-container .action-box .actions .xoa {
      display: inline-block;
      border: none;
      background: none;
      color: #cc0000;
      font-size: 13px;
      font-weight: bold;
      width: 55%;
      text-align: left;
      vertical-align: bottom;
      box-sizing: border-box;
  }

  .action-container .action-box .actions .dang {
      display: inline-block;
      width: 45%;
  }

  .action-container .action-box .category-list {
    padding: 0 10px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 1px;
  }

  .action-container .action-box .category-list li {
    padding: 7.5px 0;
  }

  .action-container .action-box .category-list input[type=checkbox] {
    background: #fff;
    margin: 0 5px 0 0;
    vertical-align: middle;
    font-size: 19px;
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
  }
  .action-container .action-box .category-list .senpai-label {color: #666;vertical-align: middle;font-size: 13px;}

/**
 * profile-page
 */

  .profile-page {
      display: table;
      table-layout: fixed;
      width: 100%;
  }

  .profile-page .left-col,
  .profile-page .right-col {
      display: table-cell;
      vertical-align: top;
  }

  .profile-page .left-col {
      width: 25%;
      padding-top: 50px;
  }

  .profile-page .right-col {
      width: 75%;
  }

  .profile-page .profile-image {
      max-width: 150px;
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0px 0px 2px 1px #ddd;
  }

  .profile-page .profile-actions {}
  .profile-page .profile-actions .btn {
      display: block;
      margin: auto;
  }
  .profile-page .profile-actions .avatar-change {
      margin-top: 25px;
      margin-bottom: 10px;
  }
  .profile-page .profile-actions .password-change {
      margin-bottom: 10px;
  }


/*Sort data*/
  .dragged {
    position: absolute;
    opacity: 0.7;
    z-index: 2000;
  }

  .ui-state-highlight { height: 30px;}

  /*7 levels are enough for nesting lol, if ya want more, just add it yourself*/
    /*Sort data*/
  ol.sortable {
    padding-bottom: 15px;
  }

  ol.sortable li {
    position: relative;
    display: block;
    color: #666;
    border:none;
    padding: 10px 0 0;
  }

  ol.sortable ol li.ui-sortable-helper:before,ol.sortable ol li.ui-sortable-helper:after {display: none;}

  ol.sortable ol li:before {
    content: '';
    position: absolute;
    left: -20px;
    background: #777;
    height: 40px;
    top: 0;
    width: 1px;
  }

  ol.sortable ol li:last-child:before {
    height: 20px;
  }

  ol.sortable ol li:after {
    content: '';
    background: #c1c1c1;
    position: absolute;
    left: -20px;
    height: 1px;
    width: 20px;
    top: 50%;
  }

  ol.sortable li > span, ol.sortable li > a {
    background: #fefefe;
    padding: 7.5px;
    border-radius: 1px;
    display: block;
    cursor: move;
    border: 1px solid #c5c5c5;
  }

  ol.sortable ol {padding-left: 40px;border:none;}
